body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
  background-color: #ffffff;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.header-logo-words {
  color: #2e2f42;
}
.header-navigation {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2e2f42;
  }
.header-navigation-menu:hover,
.header-navigation-menu:focus {
  color: #404bbf;
}
.header-address {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #2e2f42;
}
.header-mailme:focus {
  color: #404bbf;
}
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  line-height: 1.071;
  font-weight: 700;
  color: #ffffff;
}
.first-section-button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.first-section-button:hover,
.first-section-button:focus {
  background-color: #404bbf;
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
}
